<div class="center jumbotron">

	<h1>Welcome to my Sports App</h1>

	<h2>
		Live Scoreboard
	</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

	<p>Live Scoreboard</p>

</div>


<!-- <%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %> -->